/* JavaScript & jQuery - Chapter 3: Functions, Methods & Programming */
/* The book used a font called Eau Sans - the download examples use Open Sans */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);



h2 {
  margin: 1.75em 0 0 0;
  color: #838383; 
  font-weight: normal;}

h2 + p {
  margin: 0.25em 0 0 0;}
p + p {
  margin: 0;}
p + h2 {
  margin: 10px 0 0 0;}

/* message under the logo */

#message {
  float: left;
  clear: left;
  background-color: #ffb87a;
  color: #1e1b1e;
  width:170px;
  padding: 18px 30px;
  text-align: center;}

/* black bar across the right hand side of the page */

#info {
 background-color: #FCEBEB;
  color: #233548;
  width: 200px;
  height: auto;
  padding: 0 15px;
  padding-bottom: 1.5em;
  text-align: center;
  float: right;
  position: sticky;
  top: 0;
  border: 5px solid #838383;}

/* details in the black bar */

#hotelName {
  text-transform: uppercase;
  text-align: center; 
  font-size: 120%;
  margin-top: 10px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff; 
  padding: 10px 0;}

#hotel1 {
  margin-top: 1em; 
  border-top: 1px solid #fff; 
  padding-top: 1em;} 
#hotel2 {
  border-bottom: 1px solid #fff; 
  padding-bottom: 1em;}

#rooms {
  font-size: 440%;
  color: #ffb87a;
  display: inline-block;
  margin: 0;}

#roomRate{
	font-size: 150%;
	text-align: center;
  text-decoration: line-through;
  display: inline-block;
  padding-top: 10px;}

#specialRate {  
  font-size: 200%;
	text-align: center;
  color: #a87197;
  display: inline-block;
  padding: 10px 0 20px 0;
  margin: 0;}

#offerEnds {
  text-transform: uppercase;
  color: #ffb87a;
  font-size: 75%;}

#blackboard {
	line-height: 200%;
	background-color: #FCEBEB;
	border: 5px solid #d6b8b8;
	color: #233548;
  width: 200px;
  height: auto;
  padding: 0 15px;
  padding-bottom: 1.5em;
  text-align: center;
  float: bottom;
  position: sticky;
  top: 0;
}

#page {
  background-color: #403c3b;
  margin: 0 auto 0 auto;}

.true, .false {
  padding: 0 50px 0 50px;
  line-height: 28px;
  text-align: left;
  background-image: url("../images/check-cross.png");
  background-position: 120px 0;
  background-repeat: no-repeat;}

.false {
  background-position: 120px -28px;}

.center {
}
