*
Author: Ruby Watt
Date: 11/15/20
File name: styles.class
*/

/* CSS Reset */
body, header, nav, main, footer, h1, div, img, ul {
	margin : 0;
	padding : 0;
	border : 0;
}

/* Style rule for header */
body {
	background-color: #FCEBEB;
}
img {
	max-width: 100%;
	display: block;
}


 /* Style rule for box sizing applies to all elements */
 *{
	 box-sizing: border-box;
 }
/* Style rule for mobile viewport */


/* Style rule for navigation area */
header {
	top: 0;
	background-color: #FCEBEB;
	height: 190px;
}

header img {
	margin: 0 auto;
}

/* Style rules for navigation area */
nav {
	padding: 1%;
	margin-bottom: 1%;
}

nav ul {
	list-style-type: none;
	text-align: center;
}

nav li {
	font-size: 1.5em;
	font-family: 'Francois One', sans-serif;
	border-top: 1px solid #838383;
}

nav li:first-child {
	border-top: none;
}

nav li a {
	display: block;
	color: #838383;
	padding: 0.5em 1em;
	text-decoration: none;
}

/* Style rules for main content */
main {
	background-color: #fff;
	padding: 2%;
	font-size: 1.15em;
	font-family: 'Roboto Slab', serif;
	text-align: center;
}

.mobile h3 {
	text-shadow: 5px 5px 8px #ccc;
}

.action {
		font-size: 1.35em;
		color: #666600;
		font-weight: bold;
}

.tel-link {
	background-color: #b0aeae;
	padding: 2%;
	margin: 0 auto;
	width: 80%;
	text-align: center;
	border-radius: 5px;
}

.tel-link a {
	color: #FCEBEB;
	text-decoration: none;
	font-size: 1.5em;
	display: block;
}

#talents {
	width: 29%;
	float: left;
	margin: 0 2%;
	text-align: left;
}


#moutains, #children, #anniversary {
	width: 29%;
	float: left;
	margin: 0 2%;
}

.round {
	border-radius: 8px;
}

#Artwork {
	clear: left;
	padding: 1% 2%;
}

.external-link {
	color: #666600;
	font-weight: bold;
	text-decoration: none;
}

#contact {
	text-align: center;
}

#contact a {
	color: #666600;
	text-decoration: none;
}
.map {
	border: 2px solid #838383;
	width: 95%;
	height: 50%;
}

/* Style rules for footer content */
footer p {
	font-size: 0.75em;
	text-align: center;
	color: #838383;
	padding: 0 1em;
}

footer p a {
		color: #838383;
		text-decoration: none;
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1015px) {

	/* Desktop Viewport: Style rule for header */
	header {
		width: 25%;
		float: left;
		padding-bottom: 0;
	}

/* Desktop Viewport: Style rules for nav area */
	nav {
		float: right;
		width: 70%;
		margin: 4em 1em 0 0;
	}

	nav ul {
		text-align: right;
	}

	nav li {
		border: none;
	}

	nav li a {
		padding: 0.5em 1em;
	}

	nav li a:hover {
		color: #000;
		background-color: #fff;
	}

	 /* Desktop Viewport: Style Rules for main content */
	 main {
		 clear: left;
	 }

	 main h1 {
		 font-size: 1.8em;
	 }

	 #moutains, #children, #anniversary {
 		width: 29%;
 		float: left;
 		margin: 0 2%;
 	}

	#Artwork {
		clear: left;
	}
}

 /* Media Query for Large Desktop Viewports */
 @media screen and (min-width: 1921px) {

	 #containter {
		 width: 1920px;
		 margin: 0 auto;
	 }

 }

 /* Media Query for Print */
 @media print {

	 body {
		 background-color: #fff;
		 color: #000;
	 }

 }
