/********** TABS **********/
.tab-list {
  margin: 0;
  padding: 0;}

.tab-list li {
  display: inline-block;
  list-style-type: none;
  background-color: #BB8485;
  border-bottom: 3px solid #926161;
  font-family: 'Jacques Francois', serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;}

.tab-list li a {
  color: #000000;
  display: block;
  padding: 3px 10px 3px 10px;}


/********** HOVER STATES **********/
.tab-list li.active, .tab-list li.hover {
  background-color: #BC8A8A;
  border-bottom: 3px solid #BC8A8A;}

.tab-list li.active a, .tab-list li a:hover {
  color: #666;
  background-color: #F7BBBB;}


/********** PANELS **********/
.tab-panel {
  display: none;
  background-color: #DEC5C5;
  color: #934F4F;
  min-height: 150px;
  overflow: auto;}

.tab-panel.active {
  display: block;}

.tab-panel p {
  margin: 20px;}